<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
