<div layout="row">
    <div flex="60">
        <doctor-appointment doctors="doctors"></doctor-appointment>
    </div>
    <div flex="40">
        <div ui-view="appointmentDate"></div>
        <div ui-view="appointmentTime"></div>
    </div>
</div>
